@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "../js/displayProducts/displayProducts.scss";
$primary-color: #00c0ee;
$black-color: #000000;
$grey-dark-color: rgba(0, 0, 0, 0.5);
$grey-light-color: #666666;
$white-color: #ffffff;
$font-default: "Open Sans", sans-serif;

*,
html,
body {
  font-family: $font-default;
}

.header {
  top: 0;
  display: inline-block;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #c7c7c7;
  z-index: 100;
}
.content {
  display: flex;

  .asideFilter {
    display: flex;
    justify-content: space-between;
  }
  .titleFilterColor {
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .containerFilter {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
  }
  .checkboxLabel {
    padding-left: 10px;
  }
  input[type="checkbox"].checkboxColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid $grey-light-color;
    cursor: pointer;
  }

  input[type="checkbox"].checkboxColor:checked::before {
    content: "\2713"; // Caractere Unicode para o símbolo de marca de seleção
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5px;
    background: $primary-color;
    color: $primary-color;
  }

  input[type="checkbox"].checkboxColor:checked::after {
    content: "";
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.sorting {
  position: relative;
}

.sortBtn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.sort-options {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.sort-options button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.sort-options button:hover {
  background-color: #f1f1f1;
}
