@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "../js/displayProducts/displayProducts.scss";
$primary-color: #00c0ee;
$black-color: #000000;
$grey-dark-color: rgba(0, 0, 0, 0.5);
$grey-light-color: #666666;
$white-color: #ffffff;
$font-default: "Open Sans", sans-serif;

*,
html,
body {
  font-family: $font-default;
}

.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #c7c7c7;
  z-index: 100;
}

.title {
  font-size: 32px;
  font-weight: 400;
  word-wrap: break-word;
  padding: 35px 10px 20px 30px;
}
.subtitles {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 400;
  padding: 20px 10px 20px 30px;
}
.content {
  display: flex;
  min-height: 100vh;

  .asideFilter {
    display: flex;
    justify-content: space-between;
  }
  .titleFilterColor {
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .containerFilter {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
  }
  .checkboxLabel {
    padding-left: 10px;
  }
  input[type="checkbox"].checkboxColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid $grey-light-color;
    cursor: pointer;
  }

  input[type="checkbox"].checkboxColor:checked::before {
    content: "\2713"; // Caractere Unicode para o símbolo de marca de seleção
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5px;
    background: $primary-color;
    color: $primary-color;
  }

  input[type="checkbox"].checkboxColor:checked::after {
    content: "";
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.filterSize {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}
.checkbox-size {
  flex: 0 0 calc(25% - 10px); /* Defina a largura das colunas aqui */
  margin-right: 10px; /* Espaço entre as colunas */
  margin-bottom: 40px; /* Espaço entre as linhas */
  position: relative;
  cursor: pointer;
  font-size: 16px;
}
.checkbox-size input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-size label {
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border: 1px solid $grey-light-color;
  text-align: center;
  color: $grey-light-color;
  line-height: 32px;
}

.sorting {
  position: absolute;
  padding: 40px 0 0 1300px;
}

.sortBtn {
  background-color: $white-color;
  color: $black-color;
  width: 142px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.sort-options {
  display: none;
  position: absolute;
  width: 140px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.sort-options button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.sort-options button:hover {
  background-color: $primary-color;
  color: $white-color;
}
.footer {
  background-color: $black-color; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto no rodapé */
  text-align: center; /* Centralize o texto */
  padding: 20px; /* Espaçamento interno para o conteúdo do rodapé */
  position: absolute; /* Posição absoluta para mantê-lo no final da página */
  width: 100%; /* Largura total da página */
}
